/* a main container (not including a 'nav strip') */
#canvas {
  width: 100%;
}

@media (min-width: 1041px) {
  #canvas {
    width: 1040px;
  }
}

img,
figure,
object,
video,
embed {
  width: auto !important;
  max-width: 100% !important;
  height: auto !important;
}

pre {
  background-color: #fafafa;
  padding: 2px 2px 2px 1em;
  word-wrap: break-word;
  white-space: pre-wrap;
}

blockquote {
  color: black;
}

/* remove an ugly border from userpics */
div.entry div.userpic img {
  padding: 1px;
  background-color: #093d72;
}

/* posts: increase a font size of tags and dates */
.datetime,
.entry-poster,
div.tag {
  font-size: 1em;
}

/* banner */
h1#title {
  text-align: left;
  font-weight: normal;
}

/* https://github.com/dreamwidth/dw-free/commit/4b6744e */
h1#title a {
  color: black;
}

h2#pagetitle {
  text-align: right;
  font-weight: normal;
}

h2#subtitle {
  font-weight: normal;
}

/* navigator page: move links to the left */
div.module-navlinks {
  text-align: left;
}

div.module-navlinks ul {
  margin-left: 0;
}

/* navigatop page: hide useless links */
div.module-navlinks li a.tags {
  display: none;
}

div.module-navlinks li a.memories {
  display: none;
}

/* calendar: fix ugly colors */
div.module-content table tbody tr th {
  background-color: #1f2d26;
  color: #f17b00;
  font-weight: normal;
}

div.module-content table tbody tr td.entry-day {
  background-color: #1f2d26;
}

div.module-content table tbody tr td.entry-day a {
  background-color: #1f2d26;
  color: #fff;
  font-weight: normal;
}

div.module-content table tbody tr td.entry-day a:hover {
  color: #676767;
}

/* lists */
.entry-content li,
.comment-content li {
  list-style-position: outside;
}

.entry-content ol,
.entry-content ul {
  margin: 1em 0;
}

.entry-content blockquote {
  margin: 1em 0 1em 1.5em;
}

.my-img--float-right {
  float: right;
  max-width: 100%;
  width: auto;
  margin: 1em 0 1em 1em;
}
