<!-- https://www.dreamwidth.org/customize/options?group=text -->

<a href="https://henry-flower.dreamwidth.org/data/atom"><img src="https://www.dreamwidth.org/img/silk/identity/feed.png">&nbsp;&nbsp;Subscribe</a>

<form target="_blank" method="get" action="https://www.google.com/search" style="display: flex">
<input type="hidden" name="q" value="site:henry-flower.dreamwidth.org">
<input type="search" name="q" required placeholder="Search this blog" style="flex-grow: 1">
<input type="submit" value="&crarr;" style="margin-left: 5px">
</form>
